body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 500;
}

h1, h3 {
    color: #2c3e50;
}
h4{
    color: #3498db;
}

tr {
    text-align: center;
}
h5{
    color: #3498db; align-content: center;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 15px;
}


section {
    padding: 20px;
    margin: 20px;
}



footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a {
    color: #f39c12;
    text-decoration: none;
}